services:
  web:
    build: .
    container_name: meu_projeto_cake-web-2
    ports:
      - "8076:80"
    volumes:
      - .:/var/www/html
      # Se você tiver o arquivo de conf do apache, mantenha essa linha. 
      # Se der erro de arquivo não encontrado, remova a linha abaixo.
      #- ./docker/apache/meu-site.conf:/etc/apache2/sites-available/000-default.conf
    command: bash -c "chown -R www-data:www-data /var/www/html/app/tmp && apache2-foreground"
    depends_on:
      - db
    networks:
      - cake_net

  db:
    image: postgres:13
    container_name: meu_projeto_cake-db-2
    ports:
      - "5422:5432"
    environment:
      POSTGRES_DB: meu_projeto_cake_db
      POSTGRES_USER: cake_user
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - cake_net

volumes:
  postgres_data:

networks:
  cake_net:
    driver: bridge